<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-shop | Login</title>
    <link rel="stylesheet" href="./css/main.css" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="./lib/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <script src="./lib/fontawesome-free-6.1.2-web/js/all.min.js"></script>
  </head>
  <body>
    <div class="nav-banner">
      <div class="nav-banner-socials">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>

      <div class="nav-banner-links">
        <a href="./login.html">login</a>
        <a href="./register.html">create account</a>
      </div>
    </div>

    <header>
      <span class="logo">e-shop</span>

      <div class="header-navigations">
        <nav>
          <span><a href="./index.html">new & featured</a></span>
          <span><a href="./men.html">men</a></span>
          <span><a href="./women.html">women</a></span>
        </nav>

        <span class="nav-search">
          <form action="" method="post">
            <span>
              <input type="search" name="" id="" placeholder="search product" />
              <button><i class="fa fa-search"></i></button>
            </span>
          </form>
        </span>

        <span class="nav-ico"
          ><a href="./wish.html"><i class="fa fa-heart"></i></a
        ></span>

        <span class="nav-ico nav-cart-ico"
          ><a href="./cart.html"
            ><i class="fa fa-shopping-bag"></i> <span>5</span></a
          ></span
        >
      </div>
    </header>

    <main>
      <section class="login-section">
        <span style="display: flex;flex-direction: column;justify-content: center;align-items: center; background-color: whitesmoke; width: 80px; height: 80px; border-radius: 50%;"><i style="font-size: 20px;" class="fa fa-user"></i></span>
        <h1>login</h1>
        <form action="" method="post">
          <table border="0" cellspacing="5">
            <tr>
              <td><label for="email">Email</label></td>
              <td><input type="email" name="" id="" /></td>
            </tr>
            <tr>
              <td><label for="password">Password</label></td>
              <td><input type="password" name="" id="" /></td>
            </tr>
          </table>
        </form>
      </section>
    </main>

    <footer>
      <section class="footer-socials">
        <div>
          <i
            class="fa-brands fa-youtube"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
          <i
            class="fa-brands fa-facebook"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
          <i
            class="fa-brands fa-instagram"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
          <i
            class="fa-brands fa-twitter"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
        </div>
      </section>

      <section class="footer-shortcut-section">
        <div class="footer-shortcut-container">
          <h3>promotions & discounts</h3>
          <ul>
            <li><a href="">student</a></li>
            <li><a href="">military</a></li>
            <li><a href="">teacher</a></li>
            <li><a href="">professionals</a></li>
            <li><a href="">birthdays</a></li>
          </ul>
        </div>

        <div class="footer-shortcut-container">
          <h3>categories</h3>
          <ul>
            <li><a href="">sneakers</a></li>
            <li><a href="">clothings</a></li>
            <li><a href="">kids</a></li>
            <li><a href="">bags</a></li>
            <li><a href="">featured</a></li>
          </ul>
        </div>

        <div class="footer-shortcut-container">
          <h3>help</h3>
          <ul>
            <li><a href="">get help</a></li>
            <li><a href="">order status</a></li>
            <li><a href="">shipping & delivery</a></li>
            <li><a href="">returns</a></li>
            <li><a href="">payment options</a></li>
          </ul>
        </div>

        <div class="footer-shortcut-container">
          <h3>privacy</h3>
          <ul>
            <li><a href="">privacy</a></li>
            <li><a href="">policy</a></li>
            <li><a href="">payment</a></li>
            <li><a href="">terms & conditions</a></li>
            <li><a href="">refund policy</a></li>
          </ul>
        </div>
      </section>

      <nav>
        <span>
          <i style="margin-right: 5px" class="fa fa-location-dot"></i>
          kampala-uganda</span
        >
        <span
          >©

          <script>
            var year = new Date().getFullYear();
            document.write(year);
          </script>

          e-shop rights reserved 2024</span
        >
        <span>terms of use</span>
      </nav>
    </footer>
  </body>
</html>
