<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-shop | Men</title>
    <link rel="stylesheet" href="./css/main.css" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="./lib/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <script src="./lib/fontawesome-free-6.1.2-web/js/all.min.js"></script>
  </head>
  <body>
    <div class="nav-banner">
      <div class="nav-banner-socials">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>

      <div class="nav-banner-links">
        <a href="./login.html">login</a>
        <a href="./register.html">create account</a>
      </div>
    </div>

    <header>
      <span class="logo">e-shop</span>

      <div class="header-navigations">
        <nav>
          <span><a href="./index.html">new & featured</a></span>
          <span><a href="./men.html">men</a></span>
          <span><a href="./women.html">women</a></span>
        </nav>

        <span class="nav-search">
          <form action="" method="post">
            <span>
              <input type="search" name="" id="" placeholder="search product" />
              <button><i class="fa fa-search"></i></button>
            </span>
          </form>
        </span>

        <span class="nav-ico"
          ><a href="./wish.html"><i class="fa fa-heart"></i></a
        ></span>

        <span class="nav-ico nav-cart-ico"
          ><a href="./cart.html"
            ><i class="fa fa-shopping-bag"></i> <span>5</span></a
          ></span
        >
      </div>
    </header>

    <main>
      <section class="shop-section">
        <aside>
          <div class="shop-pick-today">
            <span class="head">pick up today</span>
            <span><input type="checkbox" name="" id="" /></span>
          </div>

          <!-- headers -->
          <div class="shop-header">
            <span>men's <sub>(175)</sub></span>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >sales & offers
              <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li>
                <input type="checkbox" name="" id="" />
                <span>extra 20% off select styles</span>
              </li>
              <li>
                <input type="checkbox" name="" id="" /> <span>sales</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >gender <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li><input type="checkbox" name="" id="" /> <span>men</span></li>
              <li>
                <input type="checkbox" name="" id="" /> <span>women</span>
              </li>
              <li>
                <input type="checkbox" name="" id="" /> <span>unisex</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >kids <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li><input type="checkbox" name="" id="" /> <span>boys</span></li>
              <li>
                <input type="checkbox" name="" id="" /> <span>girls</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >sales & offers
              <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li>
                <input type="checkbox" name="" id="" />
                <span>extra 20% off select styles</span>
              </li>
              <li>
                <input type="checkbox" name="" id="" /> <span>sales</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >gender <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li><input type="checkbox" name="" id="" /> <span>men</span></li>
              <li>
                <input type="checkbox" name="" id="" /> <span>women</span>
              </li>
              <li>
                <input type="checkbox" name="" id="" /> <span>unisex</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >kids <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li><input type="checkbox" name="" id="" /> <span>boys</span></li>
              <li>
                <input type="checkbox" name="" id="" /> <span>girls</span>
              </li>
            </ul>
          </div>

          <!-- color pick -->
          <div class="check-color-option">
            <span class="check-color-option-head"
              >color <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <div class="check-color-container">
              <span class="check-color">
                <span
                  class="check-color-color"
                  style="background-color: black"
                ></span>
                <span class="check-color-title">black</span>
              </span>

              <span class="check-color">
                <span
                  class="check-color-color"
                  style="background-color: white"
                ></span>
                <span class="check-color-title">white</span>
              </span>

              <span class="check-color">
                <span
                  class="check-color-color"
                  style="background-color: green"
                ></span>
                <span class="check-color-title">green</span>
              </span>

              <span class="check-color">
                <span
                  class="check-color-color"
                  style="background-color: yellow"
                ></span>
                <span class="check-color-title">yellow</span>
              </span>

              <span class="check-color">
                <span
                  class="check-color-color"
                  style="background-color: purple"
                ></span>
                <span class="check-color-title">purple</span>
              </span>

              <span class="check-color">
                <span
                  class="check-color-color"
                  style="background-color: red"
                ></span>
                <span class="check-color-title">red</span>
              </span>
            </div>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >sales & offers
              <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li>
                <input type="checkbox" name="" id="" />
                <span>extra 20% off select styles</span>
              </li>
              <li>
                <input type="checkbox" name="" id="" /> <span>sales</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >gender <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li><input type="checkbox" name="" id="" /> <span>men</span></li>
              <li>
                <input type="checkbox" name="" id="" /> <span>women</span>
              </li>
              <li>
                <input type="checkbox" name="" id="" /> <span>unisex</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >kids <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li><input type="checkbox" name="" id="" /> <span>boys</span></li>
              <li>
                <input type="checkbox" name="" id="" /> <span>girls</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >sales & offers
              <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li>
                <input type="checkbox" name="" id="" />
                <span>extra 20% off select styles</span>
              </li>
              <li>
                <input type="checkbox" name="" id="" /> <span>sales</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >gender <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li><input type="checkbox" name="" id="" /> <span>men</span></li>
              <li>
                <input type="checkbox" name="" id="" /> <span>women</span>
              </li>
              <li>
                <input type="checkbox" name="" id="" /> <span>unisex</span>
              </li>
            </ul>
          </div>

          <div class="check-category-option">
            <span class="check-category-option-head"
              >kids <i style="font-size: 13px" class="fa fa-angle-up"></i
            ></span>
            <ul>
              <li><input type="checkbox" name="" id="" /> <span>boys</span></li>
              <li>
                <input type="checkbox" name="" id="" /> <span>girls</span>
              </li>
            </ul>
          </div>
        </aside>

        <!-- -========================================================================- -->

        <main>
          <!-- filters -->
          <div class="shop-filter-main-options">
            <span>hide filters <i class="fa fa-filter"></i></span>
            <span>sort <i class="fa fa-angle-down"></i></span>
          </div>

          <!-- items -->
          <section class="shop-container">
            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="./product-details.html" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>
          </section>
          <!-- more button -->
          <div class="shop-items-loading-section">loading...</div>
        </main>
      </section>
    </main>

    <footer>
      <section class="footer-socials">
        <div>
          <i
            class="fa-brands fa-youtube"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
          <i
            class="fa-brands fa-facebook"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
          <i
            class="fa-brands fa-instagram"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
          <i
            class="fa-brands fa-twitter"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
        </div>
      </section>

      <section class="footer-shortcut-section">
        <div class="footer-shortcut-container">
          <h3>promotions & discounts</h3>
          <ul>
            <li><a href="">student</a></li>
            <li><a href="">military</a></li>
            <li><a href="">teacher</a></li>
            <li><a href="">professionals</a></li>
            <li><a href="">birthdays</a></li>
          </ul>
        </div>

        <div class="footer-shortcut-container">
          <h3>categories</h3>
          <ul>
            <li><a href="">sneakers</a></li>
            <li><a href="">clothings</a></li>
            <li><a href="">kids</a></li>
            <li><a href="">bags</a></li>
            <li><a href="">featured</a></li>
          </ul>
        </div>

        <div class="footer-shortcut-container">
          <h3>help</h3>
          <ul>
            <li><a href="">get help</a></li>
            <li><a href="">order status</a></li>
            <li><a href="">shipping & delivery</a></li>
            <li><a href="">returns</a></li>
            <li><a href="">payment options</a></li>
          </ul>
        </div>

        <div class="footer-shortcut-container">
          <h3>privacy</h3>
          <ul>
            <li><a href="">privacy</a></li>
            <li><a href="">policy</a></li>
            <li><a href="">payment</a></li>
            <li><a href="">terms & conditions</a></li>
            <li><a href="">refund policy</a></li>
          </ul>
        </div>
      </section>

      <nav>
        <span>
          <i style="margin-right: 5px" class="fa fa-location-dot"></i>
          kampala-uganda</span
        >
        <span
          >©

          <script>
            var year = new Date().getFullYear();
            document.write(year);
          </script>

          e-shop rights reserved 2024</span
        >
        <span>terms of use</span>
      </nav>
    </footer>
  </body>
</html>
