<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-shop | Wishlist</title>
    <link rel="stylesheet" href="./css/main.css" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="./lib/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <script src="./lib/fontawesome-free-6.1.2-web/js/all.min.js"></script>
  </head>
  <body>
    <div class="nav-banner">
      <div class="nav-banner-socials">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>

      <div class="nav-banner-links">
        <a href="./login.html">login</a>
        <a href="./register.html">create account</a>
      </div>
    </div>

    <header>
      <span class="logo">e-shop</span>

      <div class="header-navigations">
        <nav>
          <span><a href="./index.html">new & featured</a></span>
          <span><a href="./men.html">men</a></span>
          <span><a href="./women.html">women</a></span>
        </nav>

        <span class="nav-search">
          <form action="" method="post">
            <span>
              <input type="search" name="" id="" placeholder="search product" />
              <button><i class="fa fa-search"></i></button>
            </span>
          </form>
        </span>

        <span class="nav-ico"
          ><a href="./wish.html"><i class="fa fa-heart"></i></a
        ></span>

        <span class="nav-ico nav-cart-ico"
          ><a href="./cart.html"
            ><i class="fa fa-shopping-bag"></i> <span>5</span></a
          ></span
        >
      </div>
    </header>

    <main>
      <section class="shop-section">

        <main>
          <!-- filters -->
          <div class="shop-filter-main-options" style="flex-direction: row-reverse; justify-content: space-between; padding-left: 3%;">
            <!-- <span>hide filters <i class="fa fa-filter"></i></span> -->
            <span>sort <i style="margin-left: 5px;" class="fa fa-angle-down"></i></span>
            <span style="font-family: var(--fontPoppins);">wishlist <i style="color: orange; margin-left: 5px;" class="fa fa-heart"></i></span>
          </div>

          <!-- items -->
          <section class="shop-container">
            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>

            <div class="shop-item">
              <a href="" class="shop-item-img"><img src="" alt="" /></a>
              <span class="shop-item-offer">best sellers</span>
              <span class="shop-item-title">nike air max 1</span>
              <span class="shop-item-category">men's shoes</span>
              <span class="shop-item-color">7 colors</span>
              <span class="shop-item-price">$140</span>
            </div>
          </section>
          <!-- more button -->
          <div class="shop-items-loading-section">loading...</div>
        </main>

        <!-- -========================================================================- -->

        <aside class="wish-aside">
          <div class="shop-pick-today" style="flex-direction: row-reverse; background-color: orange; color: white;">
            <span class="head" >categories</span>
            <span><i class="fa fa-bars"></i></span>
          </div>

          <section class="wish-category-list-sec">
            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">sneakers</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">clothings</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">supermarket</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">sneakers</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">clothings</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">supermarket</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">sneakers</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">clothings</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">supermarket</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">sneakers</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">clothings</span>
            </div>

            <div class="wish-category">
              <a href="" class="wish-category-img"><img src="" alt=""></a>
              <span class="wish-category-title">supermarket</span>
            </div>
          </section>
        </aside>
        
      </section>

      <section class="scroll-products">
        <span class="scroll-products-title">
          <h5>popular right now</h5>
          <div>
            <span><i class="fa fa-angle-left"></i></span>
            <span><i class="fa fa-angle-right"></i></span>
          </div>
        </span>

        <section class="scroll-products-items-container">
          <div class="scroll-products-item">
            <span class="scroll-products-item-img"><img src="" alt="" /></span>
            <span class="scroll-products-item-title"
              >air jordan3 retro craft "Ivory"</span
            >
            <span class="scroll-products-item-category">men's shoes</span>
            <span class="scroll-products-item-price">$210</span>
          </div>

          <div class="scroll-products-item">
            <span class="scroll-products-item-img"><img src="" alt="" /></span>
            <span class="scroll-products-item-title"
              >air jordan3 retro craft "Ivory"</span
            >
            <span class="scroll-products-item-category">men's shoes</span>
            <span class="scroll-products-item-price">$210</span>
          </div>

          <div class="scroll-products-item">
            <span class="scroll-products-item-img"><img src="" alt="" /></span>
            <span class="scroll-products-item-title"
              >air jordan3 retro craft "Ivory"</span
            >
            <span class="scroll-products-item-category">men's shoes</span>
            <span class="scroll-products-item-price">$210</span>
          </div>
        </section>
      </section>
    </main>

    <footer>
      <section class="footer-socials">
        <div>
          <i
            class="fa-brands fa-youtube"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
          <i
            class="fa-brands fa-facebook"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
          <i
            class="fa-brands fa-instagram"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
          <i
            class="fa-brands fa-twitter"
            style="margin: 0px 10px; color: grey; cursor: pointer"
          ></i>
        </div>
      </section>

      <section class="footer-shortcut-section">
        <div class="footer-shortcut-container">
          <h3>promotions & discounts</h3>
          <ul>
            <li><a href="">student</a></li>
            <li><a href="">military</a></li>
            <li><a href="">teacher</a></li>
            <li><a href="">professionals</a></li>
            <li><a href="">birthdays</a></li>
          </ul>
        </div>

        <div class="footer-shortcut-container">
          <h3>categories</h3>
          <ul>
            <li><a href="">sneakers</a></li>
            <li><a href="">clothings</a></li>
            <li><a href="">kids</a></li>
            <li><a href="">bags</a></li>
            <li><a href="">featured</a></li>
          </ul>
        </div>

        <div class="footer-shortcut-container">
          <h3>help</h3>
          <ul>
            <li><a href="">get help</a></li>
            <li><a href="">order status</a></li>
            <li><a href="">shipping & delivery</a></li>
            <li><a href="">returns</a></li>
            <li><a href="">payment options</a></li>
          </ul>
        </div>

        <div class="footer-shortcut-container">
          <h3>privacy</h3>
          <ul>
            <li><a href="">privacy</a></li>
            <li><a href="">policy</a></li>
            <li><a href="">payment</a></li>
            <li><a href="">terms & conditions</a></li>
            <li><a href="">refund policy</a></li>
          </ul>
        </div>
      </section>

      <nav>
        <span>
          <i style="margin-right: 5px" class="fa fa-location-dot"></i>
          kampala-uganda</span
        >
        <span
          >©

          <script>
            var year = new Date().getFullYear();
            document.write(year);
          </script>

          e-shop rights reserved 2024</span
        >
        <span>terms of use</span>
      </nav>
    </footer>
  </body>
</html>
